//PALETA
$blanco: #F7EDD0;
$gris: #A1AFA0;

$rojo-lt: #9d595c;
$rojo: #970C10;
$rojo-dk: #72090d;

$marron: #947360;
$marron-dk: #665348;


//ALTURAS HEADER Y FOOTER
$headerHeight: 80px;
$footerHeight: 84px;